@import "tailwindcss";

:root{
  font-family: "Gideon Roman",sans-serif;
  background-color: rgb(14, 0, 13);
  color: white;
}
.bg-image{
  background-image: url("assets/bg.webp");
}

/* Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}